<html lang="en">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>@ViewBag.Title - Multi Clinicas</title>
    <!-- Icons-->
    @Styles.Render("~/bundles/vendors")
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar bg-dark">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img class="navbar-brand-full" src="/Images/brand/logo.svg" width="89" height="25" alt="CoreUI Logo">
            <img class="navbar-brand-minimized" src="/Images/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="nav navbar-nav ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="img-avatar" src="/Images/avatars/6.jpg" alt="admin@bootstrapmaster.com">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                        <strong>Account</strong>
                    </div>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-user"></i> Profile
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-wrench"></i> Settings
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-usd"></i> Payments
                        <span class="badge badge-secondary">42</span>
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-file"></i> Projects
                        <span class="badge badge-primary">42</span>
                    </a>
                    <div class="divider"></div>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-shield"></i> Lock Account
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </div>
            </li>
        </ul>

    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Pacientes">
                            <i class="nav-icon fa fa-user"></i> Pacientes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Consultas">
                            <i class="nav-icon fa fa-stethoscope"></i> Consultas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Graficas">
                            <i class="nav-icon fa fa-signal"></i> Graficas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Graficas/Historial">
                            <i class="nav-icon fa fa-history"></i> Historial
                        </a>
                    </li>
                </ul>

            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>

        </div>
        <main class="main">
            <div class="container-fluid">
                <div class="animated fadeIn mt-3">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    <footer class="app-footer">


        <div>
            <a href="https://coreui.io">CoreUI</a>
            <span>&copy; 2018 creativeLabs.</span>
        </div>
        <div class="ml-auto">
            <span>Powered by</span>
            <a href="https://coreui.io">CoreUI</a>
        </div>
    </footer>
    <!-- CoreUI and necessary plugins-->
    @Scripts.Render("~/bundles/js/vendors")
    <script>
        var jQuery = $;
        $('#ui-view').ajaxLoad();
        $(document).ajaxComplete(function () {
            Pace.restart()
        });
    </script>
    @Scripts.Render("~/bundles/js/app")

    @RenderSection("scripts", required: false)

</body>

</html>